<div class="container-fluid">
  <mat-card class="card mx-auto mt-5" style="max-width: 600px">
    <mat-card-header>
      <mat-card-title>Employee Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (employee) {
      <p><strong>Username:</strong> {{ employee.username }}</p>
      <p><strong>First Name:</strong> {{ employee.firstName }}</p>
      <p><strong>Last Name:</strong> {{ employee.lastName }}</p>
      <p><strong>Email:</strong> {{ employee.email }}</p>
      <p>
        <strong>Birth Date:</strong>
        {{ employee.birthDate | date : "mediumDate" }}
      </p>
      <p>
        <strong>Basic Salary:</strong> Rp.
        {{ employee.basicSalary | number : "1.2-2" }}
      </p>
      <p><strong>Status:</strong> {{ employee.status }}</p>
      <p><strong>Group:</strong> {{ employee.group }}</p>
      <p>
        <strong>Description:</strong>
        {{ employee.description | date : "mediumDate" }}
      </p>
      } @else {
      <p>Loading employee data...</p>
      }
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goBack()">Back</button>
    </mat-card-actions>
  </mat-card>
</div>
