<div class="employee-list-container">
  <mat-card class="employee-card">
    <mat-card-header>
      <mat-card-title>Employee List</mat-card-title>
      <button
        mat-raised-button
        color="primary"
        (click)="navigateToAddEmployee()"
      >
        <mat-label style="color: white">Add Employee</mat-label>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div class="search-container">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>First Name</mat-label>
          <input
            matInput
            [(ngModel)]="searchQuery.firstName"
            (input)="search()"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="searchQuery.email" (input)="search()" />
        </mat-form-field>
      </div>
      <table
        mat-table
        [dataSource]="employees"
        matSort
        (matSortChange)="sortData($event)"
        class="mat-elevation-z2"
      >
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td
            mat-cell
            *matCellDef="let employee"
            [@rowHover]="employee.hovered ? 'active' : 'inactive'"
            (mouseenter)="employee.hovered = true"
            (mouseleave)="employee.hovered = false"
          >
            {{ employee.username }}
          </td>
        </ng-container>
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
          <td
            mat-cell
            *matCellDef="let employee"
            [@rowHover]="employee.hovered ? 'active' : 'inactive'"
            (mouseenter)="employee.hovered = true"
            (mouseleave)="employee.hovered = false"
          >
            {{ employee.firstName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
          <td
            mat-cell
            *matCellDef="let employee"
            [@rowHover]="employee.hovered ? 'active' : 'inactive'"
            (mouseenter)="employee.hovered = true"
            (mouseleave)="employee.hovered = false"
          >
            {{ employee.lastName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td
            mat-cell
            *matCellDef="let employee"
            [@rowHover]="employee.hovered ? 'active' : 'inactive'"
            (mouseenter)="employee.hovered = true"
            (mouseleave)="employee.hovered = false"
          >
            {{ employee.email }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td
            mat-cell
            *matCellDef="let employee"
            [@rowHover]="employee.hovered ? 'active' : 'inactive'"
            (mouseenter)="employee.hovered = true"
            (mouseleave)="employee.hovered = false"
          >
            <button
              mat-raised-button
              (click)="editEmployee(employee.username)"
              color="primary"
            >
              <mat-label style="color: white">Details</mat-label>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [length]="totalEmployees"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="onPageChange($event)"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
